@charset "utf-8";

/*
   New Perspectives on HTML and CSS
   Tutorial 6
   Tutorial Case

   Columns Style Sheet
   Author: shelbyclarice
   Date:   06/27/2024

   Filename:         dlr_columns.css

*/



/* Column Styles */

